<form id="booking" action="https://corp.sonetin.com/api/tenants" method="post" class="form-inline animated fadeInUp" role="form" data-error-msg="{{ page.booking.formerror }}" data-error-flood="{{ page.booking.flooderror }}">
  <input type="hidden" name="tenant[lang]" value="{{ page.locale }}">
  <input type="hidden" name="tenant[current_plan]" value="" id="booking_plan">
  <script>
    function urlParameter(param) {
      param = param.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
      var regexS = "[\\?&]"+param+"=([^&#]*)";
      var regex = new RegExp(regexS);
      var results = regex.exec(window.location.href);
      if(results == null) return null;
      else return results[1];
    }
    window.onload = function() {
      var plan = urlParameter('plan');
      if(plan != null) {
        document.getElementById('booking_plan').value = plan;
      }
    }
  </script>
  <div id="booking-check">
    <div id="booking-check-form">
      <div id="booking-check-input" class="inline">
        <div class="form-group">
          <label class="sr-only" for="tenant_name">name</label>
          <input id="tenant_name" name="tenant[tenant_name]" minlength="3" maxlength="16" pattern="[a-zA-Z][a-zA-Z0-9\-]{1,15}" placeholder="{{ page.booking.placeholder }}" data-error-msg="{{ page.booking.tenanterror }}" required>
        </div>
        <div class="inline" style="vertical-align: middle">
          <h3 style="margin: 14px 0" onclick="$('#tenant_name').focus()">.sonetin.com</h3>
        </div>
      </div>
      <button id="booking-check-submit" type="submit" class="btn btn-lg btn-primary">{{ page.booking.action }}</button>
    </div>
    <br>
    <p class="text-muted small">{{ page.booking.desc }}</p>
  </div>
  <div id="booking-account" class="hide">
    <h2>
      <i class="fa fa-check-circle fa-lg color-green"></i>
      {{ page.booking.name_available }}
      <small><a href="#" onclick="change_tenant_name(); return false">({{ page.booking.change_name }})</a></small>
    </h2>
    <p class="text-muted small">{{ page.booking.form.help }}</p>
    <div class="form-group">
      <label class="sr-only" for="email">{{ page.booking.form.email }}</label>
      <input id="email" name="tenant[client_first_user][email]" class="form-control" type="email" placeholder="{{ page.booking.form.email }}" required>
    </div>
    <!--
    <div class="form-group">
      <label class="sr-only" for="password">{{ page.booking.form.password }}</label>
      <input id="password" name="password" class="form-control" type="password" placeholder="{{ page.booking.form.password }}" pattern=".{8,}" required>
    </div>
    -->
    <div class="form-group">
      <label class="sr-only" for="firstname">{{ page.booking.form.first }}</label>
      <input id="firstname" name="tenant[client_first_user][firstname]" class="form-control" placeholder="{{ page.booking.form.first }}" required>
    </div>
    <div class="form-group">
      <label class="sr-only" for="lastname">{{ page.booking.form.last }}</label>
      <input id="lastname" name="tenant[client_first_user][lastname]" class="form-control" placeholder="{{ page.booking.form.last }}" required>
    </div>
  <input type="hidden" name="tenant[client_first_user][login]" value="" id="booking_login">
    <!--
    <div class="form-group">
      <label class="sr-only" for="promo">{{ page.booking.form.promo }}</label>
      <input id="promo" name="promo" class="form-control" placeholder="{{ page.booking.form.promo }}">
    </div>
    -->
    <button id="booking-account-submit" type="submit" class="btn btn-primary">{{ page.booking.form.submit }}</button>
    <br><br>
  </div>
  <div id="booking-success" class="hide">
    {{ page.booking.success }}
  </div>
</form>
