{% if page.locale == 'fr' %}
  {% assign footer_links = site.footer.fr %}
{% else %}
  {% assign footer_links = site.footer.en %}
{% endif %}

<footer class="section-dark">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-4">
        <a class="brand" href="../{{ page.locale }}/">
          <img class="logo" src="../assets/img/logo-white.png" title="SonetIN" alt="SonetIN S.A.S">
        </a>
        <p>
          <address>
            <i class="fa fa-map-marker"></i>
            <a href="https://goo.gl/maps/jyW2c" target="_blank">12 cité Falguière, 75015 Paris</a><br>
            <abbr title="Phone"><i class="fa fa-phone"></i></abbr>
            <a href="tel:+33176361164">+33 (0)1 76 36 11 64</a>
          </address>
        </p>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-8">
        {% for category in footer_links %}
          {% assign category_links = category.first.last %}
          <ul class="list-inline">
            <li><h5>{{ category | first | first | capitalize }}</h5></li>
            {% for link in category_links %}
              <li><a href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
