{% if page.locale == 'fr' %}
  {% assign press_page = 'presse.html' %}
{% else %}
  {% assign press_page = 'press.html' %}
{% endif %}

<footer>
  
  <aside>
    <span brand logo>SONETIN</span>
    <span>&nbsp;{{ page.tagline }}</span>
  </aside>

  <ul right inline dots>
    <li><a normal-link target="_blank" href="http://twitter.com/sonet_in">Twitter</a></li>
    <li><a normal-link href="http://blog.sonetin.com/">Blog</a></li>
    <li><a normal-link href="https://support.sonetin.com/?lang={{ page.locale }}">Support</a></li>
    <li><a normal-link href="{{ press_page }}">Presse</a></li>
    <li><a normal-link href="legal.html">Légal</a></li>
    <li><a normal-link href="mailto:contact@sonetin.com?subject=SONETIN - API">API</a></li>
    <!--<li><a normal-link href="/en/" title="English">EN</a> / <a normal-link href="/fr/" title="Français">FR</a></li>-->
    <li>
      <span class="ion-location"></span>
      <select nochrome onchange="switchLocale(this)">
        <option value="/en/" {% if page.locale == 'en' %}selected{% endif %}>English</option>
        <option value="/fr/" {% if page.locale == 'fr' %}selected{% endif %}>Français</option>
      </select>
    </li>
  </ul>

</footer>

<script>
function switchLocale(locale) {
  document.location.href = locale.options[locale.selectedIndex].value;
}
</script>
