<style>
#opacity { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100;
  background: rgba(0,0,0,.75); }
.popup { position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 100;
  background: #fff; padding: 10px 20px; border-radius: 10px; margin: auto;
  color: #333; width: 500px; height: 300px; }
#btn-jamespot { background: #e84535; }
#btn-presse { background: #1e3243; }
</style>

<div id=opacity></div>
<div class=popup>
  <p>Cher internaute,</p>
  <p>Depuis de 6 octobre 2016, l’équipe de Sonetin a rejoint l’aventure de Jamespot.</p>
  <p>Nous vous invitons dès maintenant à aller jeter un coup d’œil sur leur site et à tester gratuitement leurs solutions collaboratives.</p>
  <p>À bientôt pour de nouvelles aventures.</p>
  <p>
    <a button id=btn-jamespot href=http://www.jamespot.com/>Aller sur Jamespot.com</a>
    <a button id=btn-presse href=http://www.jamespot.com/sites/default/files/20161004_-_cp_jamespot_et_sonetin.pdf>Lire le communiqué de presse</a>
  </p>
</div>
