<style>
#top [push-20] {
  margin-top: 40px;
}
#top h1 br {
  display: none;
}
#top h1 {
  margin-bottom: 20px;
}
[browser-ui] {
  zoom: .75;
}
[iphone-ui] {
  zoom: .4;
  margin-left: 2vw;
  vertical-align: bottom;
}
[iphone-ui] img {
  width: 90%;
  margin-top: 15vw;
}

@-webkit-keyframes color_change {
	from { background: yellow; }
	to { background: red; }
}
@-moz-keyframes color_change {
	from { background: yellow; }
	to { background: red; }
}
@keyframes color_change {
	from { background: yellow; }
	to { background: red; }
}
[animated-logo] {
	-webkit-animation: color_change 3s infinite alternate;
	-moz-animation: color_change 3s infinite alternate;
	animation: color_change 3s infinite alternate;
}
</style>

<div id="product">
  <div browser-ui>
    <!--<iframe src="https://app.sonetin.com/"></iframe>-->
    <img src="/assets/img/product/web.png" animated-logo>
  </div>

  <div iphone-ui>
    <!--<iframe src="https://app.sonetin.com/"></iframe>-->
    <div>
      <img src="/assets/img/product/mobile.png" animated-logo>
    </div>
  </div>
</div>
