<form class="form" action="/">
  <div class="control-group">
    <label class="control-label" for="company_name">Company</label>
    <div class="controls">
      <input type="text" id="company_name" placeholder="ACME Corporation" required>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="url">Your social network URL</label>
    <div class="controls">
      <input type="text" id="url" placeholder="acme" required>.sonetin.com
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="email">Account</label>
    <div class="controls">
      <div class="row-fluid">
        <div class="span6">
          <input type="email" id="email" placeholder="Email address" required>
        </div>
        <div class="span6">
          <input type="password" id="password" placeholder="Password" required>
        </div>
      </div>
    </div>
  </div>
</form>
