<div class="section">
  <div class="container">
    <div class="row">
      <div class="span6">
        <h3>Team</h3>
        <div id="team" class="centered">
          <div class="member img-polaroid" data-name="François, CEO">
            <img class="member-pic" src="../assets/img/team/francois.jpeg">
            <div class="contacts">
              <a href="mailto:francois.jarreau@sonetin.com" title="Email"><i class="icon-envelope-alt"></i></a>
            </div>
          </div>
          <div class="member img-polaroid" data-name="Arnaud, CTO">
            <img class="member-pic" src="../assets/img/team/arnaud.jpeg">
            <div class="contacts">
              <a href="mailto:arnaud.leymet@sonetin.com" title="Email"><i class="icon-envelope-alt"></i></a>
              <a href="https://twitter.com/arnley" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            </div>
          </div>
          <div class="member img-polaroid" data-name="Ihcène, Ninja">
            <img class="member-pic" src="../assets/img/team/ihcene.png">
            <div class="contacts">
              <a href="mailto:ihcene.medjber@sonetin.com" title="Email"><i class="icon-envelope-alt"></i></a>
              <a href="https://twitter.com/Idelways" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            </div>
          </div>
          <a href="mailto:jobs@sonetin.com?subject=SonetIN%20job">
            <div class="member img-polaroid" data-name="<You>">
              <img class="member-pic" src="../assets/img/team/you.png">
            </div>
          </a>
        </div>
      </div>
      <div class="span6">
        <h3>Advisors</h3>
        <div id="team" class="centered">
          <div class="member img-polaroid" data-name="Yann Lechelle">
            <img class="member-pic" src="../assets/img/team/yann.jpeg">
            <div class="contacts">
              <a href="mailto:yann.lechelle@sonetin.com" title="Email"><i class="icon-envelope-alt"></i></a>
              <a href="https://twitter.com/ylechelle" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            </div>
          </div>
          <div class="member img-polaroid" data-name="Timothy Bovard">
            <img class="member-pic" src="../assets/img/team/timothy.jpeg">
            <div class="contacts">
              <a href="mailto:timothy.bovard@sonetin.com" title="Email"><i class="icon-envelope-alt"></i></a>
              <a href="https://twitter.com/timothybovard" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            </div>
          </div>
          <div class="member img-polaroid" data-name="Dominique Turcq">
            <img class="member-pic" src="../assets/img/team/dominique.jpeg">
            <div class="contacts">
              <a href="mailto:dominique.turcq@sonetin.com" title="Email"><i class="icon-envelope-alt"></i></a>
              <a href="https://twitter.com/dorcq" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
