<section class="section-thin">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Team</h2>
        <div id="team" class="centered">
          <div class="member img-thumbnail" data-name="François Jarreau, CEO">
            <img class="member-pic" src="../assets/img/team/francois.jpeg">
            <div class="contacts">
              <a href="http://www.linkedin.com/in/fjarreau" target="_blank" title="LinkedIn"><i class="icon-linkedin"></i></a>
              <a href="mailto:francois.jarreau@sonetin.com" title="Email"><i class="icon-envelope"></i></a>
            </div>
          </div>
          <div class="member img-thumbnail" data-name="Arnaud Leymet, CTO">
            <img class="member-pic" src="../assets/img/team/arnaud.jpeg">
            <div class="contacts">
              <a href="http://www.linkedin.com/in/arnley" target="_blank" title="LinkedIn"><i class="icon-linkedin"></i></a>
              <a href="https://twitter.com/arnley" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
              <a href="mailto:arnaud.leymet@sonetin.com" title="Email"><i class="icon-envelope"></i></a>
            </div>
          </div>
          <div class="member img-thumbnail" data-name="Ihcène Medjber, Developer">
            <img class="member-pic" src="../assets/img/team/ihcene.png">
            <div class="contacts">
              <a href="https://twitter.com/Idelways" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
              <a href="mailto:ihcene.medjber@sonetin.com" title="Email"><i class="icon-envelope"></i></a>
            </div>
          </div>
          <a href="mailto:jobs@sonetin.com?subject=SonetIN%20job">
            <div class="member img-thumbnail" data-name="<You>">
              <img class="member-pic" src="../assets/img/team/you.png">
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Advisors</h2>
        <div id="team" class="centered">
          <div class="member img-thumbnail" data-name="Yann Lechelle, Appsfire">
            <img class="member-pic" src="../assets/img/team/yann.jpeg">
            <div class="contacts">
              <a href="http://www.linkedin.com/in/ylechelle" target="_blank" title="LinkedIn"><i class="icon-linkedin"></i></a>
              <a href="https://twitter.com/ylechelle" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
              <a href="mailto:yann.lechelle@sonetin.com" title="Email"><i class="icon-envelope"></i></a>
            </div>
          </div>
          <div class="member img-thumbnail" data-name="Timothy Bovard, Insead faculty">
            <img class="member-pic" src="../assets/img/team/timothy.jpeg">
            <div class="contacts">
              <a href="http://www.linkedin.com/pub/timothy-bovard/16/149/5" target="_blank" title="LinkedIn"><i class="icon-linkedin"></i></a>
              <a href="https://twitter.com/timothybovard" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
              <a href="mailto:timothy.bovard@sonetin.com" title="Email"><i class="icon-envelope"></i></a>
            </div>
          </div>
          <div class="member img-thumbnail" data-name="Dominique Turcq, Boostzone">
            <img class="member-pic" src="../assets/img/team/dominique.jpeg">
            <div class="contacts">
              <a href="http://www.linkedin.com/in/dominiqueturcq" target="_blank" title="LinkedIn"><i class="icon-linkedin"></i></a>
              <a href="https://twitter.com/dorcq" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
              <a href="mailto:dominique.turcq@sonetin.com" title="Email"><i class="icon-envelope"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
