<div class="section">
  <div class="container">
    <!-- Fast Secure Contact Form plugin 2.9.8.4 - begin - http://www.FastSecureContactForm.com -->
    <form id="contact" action="http://getsimpleform.com/messages?form_api_token=6578736e17e7e5621c8ccecfb6c0520a" method="post" class="form-horizontal">
      <div class="row">
        <div class="span4 offset1">
          <div class="control-group">
            <label class="control-label" for="name">{{ page.labels.name }}
              <span class="text-error">*</span>
            </label>
            <div class="controls">
              <input type="text" id="name" name="name" value="" size="40" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="email">{{ page.labels.email }}
              <span class="text-error">*</span>
            </label>
            <div class="controls">
              <input type="email" id="email" name="email" value="" size="40" required>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="company">{{ page.labels.company }}</label>
            <div class="controls">
              <input type="text" id="company" name="company" value="" size="40">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="role">{{ page.labels.job }}</label>
            <div class="controls">
              <input type="text" id="role" name="role" value="" size="40">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="phone">{{ page.labels.phone }}</label>
            <div class="controls">
              <input type="text" id="phone" name="phone" value="" size="40">
            </div>
          </div>
        </div>
        <div class="span5">
          <div class="control-group">
            <label class="control-label" for="message">{{ page.labels.message }}
              <span class="text-error">*</span>
            </label>
            <div class="controls">
              <textarea id="message" name="message" rows="11" required></textarea>
            </div>
          </div>

          <div class="controls">
            <button type="submit" class="btn btn-primary btn-block">{{ page.labels.submit }}</button>
          </div>

        </div>
      </div>

    </form>
    <!-- Fast Secure Contact Form plugin 2.9.8.4 - end - http://www.FastSecureContactForm.com -->
  </div>
</div>
