<section class="section-blue" id="presentation">
  <div class="container">
    <h2 style="text-align: left">{{ page.tagline }}</h2>
    <h2 style="text-align: left; font-size: 24px; line-height: 36px">{{ page.tagline2 }}</h2>
    <br>
    <ul class="list-unstyled icons-ul">
      {% for feature in page.main_features %}
        <li><i class="icon-li icon-ok"></i>{{ feature }}</li>
      {% endfor %}
    </ul>
    <br>
    <a class="btn btn-lg btn-primary action-book scrollable-link" href="#booking">{{ page.booking.button }}</a>

    <a id="preview" class="scrollable-link visible-md visible-lg" href="#features2">
      <div class="preview glossy">
        <img src="../assets/img/previews/preview2p.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview1b.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview1g.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview2b.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview1r.png">
      </div>
      <i id="fullscreen" class="icon-search"></i>
    </div>
  </a>
</section>

<section class="section-dark section-thin" id="references">
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="font-size: 14px; font-weight: bold;">
        <h4>{{ page.references }}</h4>
      </div>
      <div class="col-md-8">
        <ul class="list-inline nav-justified">
          <li><img src="../assets/img/clients/alstom.png"></li>
          <li><img src="../assets/img/clients/auchan.png"></li>
          <li><img src="../assets/img/clients/insead.png"></li>
          <li><img src="../assets/img/clients/mma.png"></li>
          <li><img src="../assets/img/clients/lybernet.png"></li>
          <li><img src="../assets/img/clients/maaf.png"></li>
          <li><img src="../assets/img/clients/hec.png"></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="features">
  <div class="container">

    <h2>{{ page.usages_title }}</h2>

    <div class="features">
      <div class="row">
        {% for usage in page.usages %}
          <div class="feature col-md-6">
            <h3>
              <span class="icon-stack icon-2x">
                <i class="icon-circle color-{{ usage.color }} icon-stack-base"></i>
                <i class="icon-circle-blank icon-stack-base"></i>
                <i class="icon-{{ usage.icon }} icon-light"></i>
              </span>
              {{ usage.title }}
            </h3>
            <p>{{ usage.content }}</p>
          </div>
        {% endfor %}
      </div>
    </div>

    <br><br><br>

  </div>
</section>

<section id="features2" class="section-light">
  <div class="container">
    <h2>{{ page.features_title }}</h2>
    <div id="features-details" class="visible-lg">
      {% for feature in page.features %}
        <div class="feature">
          <h3>{{ feature.title }}</h3>
          <p>{{ feature.content }}</p>
        </div>
      {% endfor %}
    </div>
    <img src="/assets/img/previews/preview3.png">
  </div>
</section>

<section id="integrations" class="section-light section-thin">
  <div class="container">
    <h3 class="text-muted">{{ page.integration_title }}</h3>
    <ul class="list-inline nav-justified">
      <li style="color: #00acee">
        <i class="icon-twitter icon-3x"></i>
        <p><small>Twitter</small></p>
      </li>
      <li style="color: #3d9ae8">
        <i class="icon-dropbox icon-3x"></i>
        <p><small>Dropbox</small></p>
      </li>
      <li style="color: #c4302b">
        <i class="icon-youtube-play icon-3x"></i>
        <p><small>YouTube</small></p>
      </li>
      <li style="color: #0e76a8">
        <i class="icon-linkedin-sign icon-3x"></i>
        <p><small>LinkedIn</small></p>
      </li>
      <li style="color: #34526f">
        <i class="icon-tumblr-sign icon-3x"></i>
        <p><small>Tumblr</small></p>
      </li>
    </ul>
    <ul class="list-inline nav-justified">
      <li class="text-muted">
        <i class="icon-quote-right icon-3x"></i>
        <p><small>Sites d'actualité</small></p>
      </li>
      <li style="color: #3f729b">
        <i class="icon-instagram icon-3x"></i>
        <p><small>Instagram</small></p>
      </li>
      <li style="color: #3b5998">
        <i class="icon-facebook-sign icon-3x"></i>
        <p><small>Facebook</small></p>
      </li>
      <li style="color: #ff0084">
        <i class="icon-flickr icon-3x"></i>
        <p><small>Flickr</small></p>
      </li>
      <li class="text-muted">
        <i class="icon-ellipsis-horizontal icon-3x"></i>
        <p><small>{{ page.integration_more }}</small></p>
      </li>
    </ul>
  </div>
</section>

<section id="pricing">
  <div class="container">
    <h2>{{ page.plans_title }}</h2>
    <br>
    <div class="row">
      {% for plan in page.plans %}
        <div class="col-md-4">
          <div class="panel panel-{{ plan.color }}">
            <div class="panel-heading" style="{{ plan.header_style }}">
              <span class="pricing-icon icon-stack icon-2x">
                <i class="icon-circle text-{{ plan.color }} icon-stack-base"></i>
                <i class="icon-{{ plan.icon }} icon-light"></i>
              </span>
              {{ plan.name }}
            </div>
            <div class="panel-body">
              {{ plan.highlight }}
            </div>
            <table class="table table-hover table-condensed">
              {{ plan.details }}
            </table>
            <div class="panel-footer panel-heading">
              {{ plan.submit_button }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

    <div class="row hide" id="accompagnement">
      <h4 style="text-align: left; margin: 5px 20px 20px">Mais aussi :</h4>
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading" style="text-align: left; padding-left: 80px">
            <span class="pricing-icon icon-stack icon-2x">
              <i class="icon-circle text-primary icon-stack-base"></i>
              <i class="icon-rocket icon-light"></i>
            </span>
            Accompagnement sur mesure
          </div>
          <div class="panel-body">
            <style>
            #accompagnement table { margin-bottom: 0; }
            #accompagnement table td { text-align: left; }
            </style>
            <div class="row">
              <div class="col-md-4">
                <table class="table table-hover table-condensed"><tr><td>Animation d'une communauté thématique</td></tr></table>
              </div>
              <div class="col-md-4">
                <table class="table table-hover table-condensed"><tr><td>Newsletter mensuelle</td></tr></table>
              </div>
              <div class="col-md-4">
                <table class="table table-hover table-condensed"><tr><td>Veille collaborative</td></tr></table>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <table class="table table-hover table-condensed"><tr><td>Diagnostic personnalisé</td></tr></table>
              </div>
              <div class="col-md-4">
                <table class="table table-hover table-condensed"><tr><td>Session de formation online</td></tr></table>
              </div>
              <div class="col-md-4">
                <table class="table table-hover table-condensed"><tr><td>Ateliers thématiques</td></tr></table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="booking" class="section-light section-thin">
  <div class="container">
    <form action="http://getsimpleform.com/messages?form_api_token=6578736e17e7e5621c8ccecfb6c0520a" method="post" class="form-inline" role="form">
      <input type="hidden" value="{{ page.locale }}">
      <div id="booking-check">
        <h2>{{ page.booking_title }}</h2>
        <div class="form-group">
          <label class="sr-only" for="tenant_name">name</label>
          <input id="tenant_name" name="tenant_name" maxlength="16" pattern=".{3,16}" placeholder="{{ page.booking_placeholder }}" required>
        </div>
        <div class="checkbox" style="vertical-align: bottom">
          <h3 style="margin: 14px 0">.sonetin.com</h3>
        </div>
        <button id="booking-check-submit" type="submit" class="btn btn-lg btn-primary">{{ page.booking_action }}</button>
        <br><br>
        <p class="text-muted">{{ page.booking_desc }}</p>
      </div>
      <div id="booking-account" class="hide">
        <h2>
          <i class="icon-ok-sign icon-large color-green"></i>
          {{ page.booking.name_available }}
          <small><a href="#" onclick="change_tenant_name(); return false">— {{ page.booking.change_name }}</a></small>
        </h2>
        <p class="text-muted">{{ page.booking.form.help }}</p>
        <div class="form-group">
          <label class="sr-only" for="email">{{ page.booking.form.email }}</label>
          <input id="email" name="email" class="form-control" type="email" placeholder="{{ page.booking.form.email }}" required>
        </div>
        <!--
        <div class="form-group">
          <label class="sr-only" for="password">{{ page.booking.form.password }}</label>
          <input id="password" name="password" class="form-control" type="password" placeholder="{{ page.booking.form.password }}" pattern=".{8,}" required>
        </div>
        -->
        <div class="form-group">
          <label class="sr-only" for="firstname">{{ page.booking.form.first }}</label>
          <input id="firstname" name="firstname" class="form-control" placeholder="{{ page.booking.form.first }}" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="lastname">{{ page.booking.form.last }}</label>
          <input id="lastname" name="lastname" class="form-control" placeholder="{{ page.booking.form.last }}" required>
        </div>
        <button id="booking-account-submit" type="submit" class="btn btn-primary">{{ page.booking.form.submit }}</button>
        <br><br>
      </div>
      <div id="booking-success" class="hide">
        {{ page.booking.success }}
      </div>
    </form>
  </div>
</section>
