
<div class="section background" id="presentation">
  <div class="container">
    <div class="row">
      <div class="span5">
        <img class="logo-big" src="../assets/img/logo-white-big.png" title="SonetIN" alt="SonetIN">
        <p id="tagline"><img src="../assets/img/tagline.png" title="Social Network Intelligence" alt="Social Network Intelligence"></p>
        <span class="logo-pointer hidden-tablet">↪</span><a class="btn btn-primary btn-large" href="contact.html">{{ page.signup_button }}</a>
        <!--<span class="written">it's free for 10 users</span>-->
      </div>
      <div class="span7">
        <div id="preview" class="carousel slide hidden-phone" data-pause="no" style="text-align: right; border-radius: 3px">
          <ol class="carousel-indicators">
            <li data-target="#preview" data-slide-to="0" class="active"></li>
            <li data-target="#preview" data-slide-to="1"></li>
            <li data-target="#preview" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item glossy">
              <img src="../assets/img/previews/sonetin_ub.png">
            </div>
            <div class="item glossy">
              <img src="../assets/img/previews/sonetin_ou.png">
            </div>
            <div class="item glossy">
              <img src="../assets/img/previews/sonetin_bo.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section" id="features">
  <div class="container">

    <h3>{{ page.tagline }}</h3>
    <hr>

    <div class="row">
      {% for feature in page.features %}
        <div class="span4">
          <div class="feature">
            <div class="bubble">
              <i class="icon-{{ feature.icon }} icon-4x"></i>
            </div>
            <h4>{{ feature.title }}</h4>
            <p>{{ feature.content }}</p>
          </div>
        </div>
        {% if forloop.index == 3 %}
          </div>
          <div class="row">
        {% endif %}
      {% endfor %}
    </div>

    <br><br><br>

  </div>
</div>

<div class="section" id="references">
  <h3><span>{{ page.references }}</span></h3>
  <br>
  <div id="clients" class="carousel slide" data-pause="no" data-interval="3000" style="">
    <ol class="carousel-indicators">
      <li data-target="#clients" data-slide-to="0" class="active"></li>
      <li data-target="#clients" data-slide-to="1"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <img src="../assets/img/clients/mma.png">
        <img src="../assets/img/clients/epwn.jpg">
        <img src="../assets/img/clients/insead.png">
        <img src="../assets/img/clients/lixir.png">
        <img src="../assets/img/clients/oudinot.png">
      </div>
      <div class="item">
        <img src="../assets/img/clients/auchan.png">
        <img src="../assets/img/clients/maaf.png">
        <img src="../assets/img/clients/alstom.png">
        <img src="../assets/img/clients/manpower.png">
        <img src="../assets/img/clients/hec.png">
        <img src="../assets/img/clients/lybernet.png">
      </div>
    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#clients" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#clients" data-slide="next">&rsaquo;</a>
  </div>
</div>

<div class="section">
  <p>{{ page.reminder }}
    <a class="btn btn-primary btn-large" href="contact.html">{{ page.signup_button }}</a>
  </p>
</div>
