<section id="intro" class="section-dark section-dashed section-background">
  <div class="container">
    <h1>{{ page.mynetwork.header }}</h1>
    <h2>{{ page.mynetwork.pricing }}</h2>
    <hr>
    {% include booking.html %}
    <hr>
  </div>
</section>

<section class="section-light">
  <div class="container">
    <h2>{{ page.yourdata.header }}</h2>
    <p class="lead">{{ page.yourdata.text }}</p>
  </div>
</section>

<section id="features">
  <div class="container">
    <h2>{{ page.usages.header }}</h2>
    <h3>{{ page.usages.subheader }}</h3>
    <ul class="list-unstyled fa-ul row">
      {% for usage in page.usages.list %}
        <li class="col-md-6 text-left">
          <h4>
            <span class="fa-stack fa-2x">
              <i class="fa fa-stack-2x fa-circle color-blue"></i>
              <i class="fa fa-stack-1x fa-{{ usage.icon }} fa-light"></i>
            </span>
            {{ usage.title }}
          </h4>
          <p class="text-muted">{{ usage.content }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section class="section-blue section-thin" id="intelligence">
  <div class="container">
    <h2>{{ page.intelligence.header }}</h2>
    <br>
    <ul class="list-unstyled fa-ul">
      {% for item in page.intelligence.list %}
        <li><i class="fa fa-li fa-check"></i>{{ item }}</li>
      {% endfor %}
    </ul>
    <br>
    <a class="btn btn-lg btn-primary action-book scrollable-link" href="#intro">{{ page.booking.title }}</a>

    <a id="preview" class="scrollable-link visible-md visible-lg" href="#features2">
      <div class="preview glossy">
        <img src="../assets/img/previews/preview2p.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview1b.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview1g.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview2b.png">
      </div>
      <div class="preview glossy">
        <img src="../assets/img/previews/preview1r.png">
      </div>
      <i id="fullscreen" class="fa fa-search"></i>
    </div>
  </a>
</section>

<section class="section-dark section-thin" id="references">
  <div class="container">
    <div class="row">
      <div class="col-md-2" style="font-size: 14px; font-weight: bold;">
        <h4>{{ page.references }}</h4>
      </div>
      <div class="col-md-8">
        <ul class="list-inline nav-justified">
          <li><img src="../assets/img/clients/mma.png"></li>
          <li><img src="../assets/img/clients/lybernet.png"></li>
          <li><img src="../assets/img/clients/maaf.png"></li>
          <li><img src="../assets/img/clients/oudinot.png"></li>
          <li><img src="../assets/img/clients/esmt.png"></li>
          <li><img src="../assets/img/clients/optimonial.png"></li>
          <li><img src="../assets/img/clients/covea.png"></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="overview" class="section-light section-shadow">
  <div class="container">
    <div class="hidden-xs">
      <img src="/assets/img/overview/overview-desktop-2.png">
    </div>
    <div class="visible-lg" style="position:absolute;margin-top:-413px;margin-left:810px">
      <img width="200" src="/assets/img/overview/overview-phone-2.png">
    </div>
    <div class="visible-xs">
      <img src="/assets/img/overview/overview-phone-2.png">
    </div>
  </div>
</section>

<section>
  <div class="container">
    <ul class="list-unstyled fa-ul row">
      {% for feature in page.features %}
        <li class="col-md-6 text-left">
          <p class="fa-stack fa-2x pull-left">
            <i class="fa fa-stack-2x fa-circle color-blue"></i>
            <i class="fa fa-stack-1x fa-{{ feature.icon }} fa-light"></i>
          </p>
          <h4 style="display: inline">{{ feature.title }}</h4>
          <span class="text-muted">{{ feature.desc }}</span>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<section id="integrations" class="section-light section-thin">
  <div class="container">
    <h3 class="text-muted">
      <ul class="list-inline pull-left">
        <li><i class="fa fa-twitter fa-lg" title="Twitter"></i></li>
        <li><i class="fa fa-dropbox fa-lg" title="Dropbox"></i></li>
        <li><i class="fa fa-youtube-play fa-lg" title="YouTube"></i></li>
        <li><i class="fa fa-linkedin-square fa-lg" title="LinkedIn"></i></li>
        <li><i class="fa fa-tumblr-square fa-lg" title="Tumblr"></i></li>
      </ul>
      <ul class="list-inline pull-right">
        <li><i class="fa fa-rss-square fa-lg" title="RSS"></i></li>
        <li><i class="fa fa-facebook-square fa-lg" title="Facebook"></i></li>
        <li><i class="fa fa-flickr fa-lg" title="Flickr"></i></li>
        <li><i class="fa fa-google-plus-square fa-lg" title="Google+"></i></li>
        <li><i class="fa fa-pinterest-square fa-lg" title="Pinterest"></i></li>
      </ul>
      <span>{{ page.integrations.title }}</span>
    </h3>
  </div>
</section>

<section id="services" class="section-shadow">
  <div class="container">
    <h2>{{ page.services.header }}</h2>
    <h3>{{ page.services.subheader }}</h3>
    <br>
    <div class="row">
      {% for service in page.services.list %}
        <div class="col-md-4">
          <h4>{{ service.title }}</h4>
          <p class="fa-stack fa-3x">
            <i class="fa fa-stack-2x fa-circle color-blue"></i>
            <i class="fa fa-stack-1x fa-{{ service.icon }} fa-light"></i>
          </p>
          <p class="text-muted"><small>{{ service.desc }}</small></p>
        </div>
      {% endfor %}
    </div>
    <br>
    <div class="well well-sm text-left text-muted">
      <div class="pull-right">
        <a class="btn btn-lg btn-primary" href="contact.html">{{ page.services.more.submit }}</a>
      </div>
      <small>{{ page.services.more.text}}</small>
    </div>
  </div>
</section>

<section id="api" class="section-light">
  <div class="container">
    <h2>{{ page.api.header }}</h2>
    <h3>{{ page.api.subheader }}</h3>
    <br><br>
    <h4 class="">
      <i class="fa fa-clock-o"></i>
      {{ page.api.label }}
    </h4>
  </div>
</section>

<section class="section-blue">
  <div class="container">
    <h3>
      <i class="fa fa-child"></i><i class="fa fa-child"></i><i class="fa fa-child"></i><i class="fa fa-child"></i><i class="fa fa-child"></i><i class="fa fa-child"></i><i class="fa fa-child"></i><i class="fa fa-child fa-lg"></i>
      &nbsp;{{ page.booking.title }}
      <a class="btn btn-lg btn-primary action-book scrollable-link" href="#intro">
        {{ page.booking.now }}
      </a>
    </h3>
    <br><br>
  </div>
</section>
