<link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Sans+Narrow:700|PT+Sans:700|PT+Serif">
<section id="press" class="section-light section-thin">
  <div class="container">
  <h3>{{ page.recent }} →</h3>
  <ul class="columns">
    {% for article in page.articles reversed %}
      <li class="wow animated fadeInUp">
        <a class="pull-left hidden" href="{{ article.url }}">
          {% if article.logo %}
          <img src="../assets/img/press/{{ article.logo }}" alt="{{ article.source }}">
          {% else %}
          <h4>{{ article.source }}</h4>
          {% endif %}
        </a>
        <div class="article">
          <a href="{{ article.url }}">
            <h1>{{ article.display_title }}</h1>
            <hr>
            {% if article.display_subtitle %}
              <h2>{{ article.display_subtitle }}</h2>
              <hr>
            {% endif %}
            <p><span style="text-transform: uppercase; border-bottom: 1px dotted #555">{{ article.source }}</span>, {{ article.date | date: "%-d %b" }}— {{ article.display_body }}</p>
            <p class="small text-muted">{% if article.author %}— {{ article.author }}{% endif %}</p>
          </a>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
</section>
