<section id="pricing" class="section-light section-thin">
  <div class="container">
    <div class="row">
      {% for plan in page.plans %}
        <div class="col-md-4 animated fadeInDown" data-wow-delay=".{{ forloop.index | times: 2 }}s">
          <div class="panel panel-{{ plan.color }}">
            <div class="panel-heading" style="{{ plan.header_style }}">
              <span class="pricing-icon fa-stack fa-2x">
                <i class="fa fa-stack-2x fa-square text-{{ plan.color }}"></i>
                <i class="fa fa-stack-1x fa-{{ plan.icon }} fa-inverse"></i>
              </span>
              {{ plan.name }}
            </div>
            {{ plan.details }}
            <div class="panel-footer">
              <a class="btn btn-primary btn-lg btn-block" href="{{ plan.submit.href }}">{{ plan.submit.label }}</small></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section-light section-thin" style="text-align: left">
  <div class="container">
    <div class="well">
      <div class="row">
        {% for faq in page.faq %}
          <div class="col-md-6">
            <h4 id="{{ faq.id }}">{{ faq.question }}</h4>
            <small>{{ faq.body }}</small>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
