<!DOCTYPE html>
<html lang="{{ page.locale }}"><!-- manifest="cache.manifest" -->
<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" value="{{ page.description }}">
  <meta name="keywords" value="{{ page.keywords }}">
  <meta name="author" value="SONETIN">

  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <link rel="index" title="SONETIN" href='{{ site.url }}{{ page.locale }}/'>
  <link rel="canonical" href="{{ site.url }}{{ page.url }}" />

  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="SONETIN">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:image" content="https://www.sonetin.com/assets/img/icon-120.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@sonet_in">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="https://www.sonetin.com/assets/img/icon-120.png">

  <link rel="shortcut icon" href="/assets/img/icon-32.png" sizes="16x16 32x32 48x48" type="image/png">
  <link rel="icon" href="/assets/img/icon-256.png" sizes="256x256" type="image/png">
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/icon-152.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/icon-144.png">
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/icon-120.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/icon-114.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/icon-72.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/img/icon-57.png">
  <meta name="msapplication-TileImage" content="/assets/img/icon-144.png">

  <link rel="stylesheet" href="/assets/css/lib/animate.min.css">
  <link rel="stylesheet" href="/assets/css/lib/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/lib/ladda.min.css">
  <link rel="stylesheet" href="/assets/css/lib/morphext.css">
  <link rel="stylesheet" href="/assets/css/lib/sweet-alert.css">
  <link rel="stylesheet" href="/assets/css/app.css">

  <script src="/assets/js/lib/html5shiv.min.js"></script>
  <script src="/assets/js/lib/jquery.min.js"></script>
  <script src="/assets/js/lib/morphext.min.js"></script>
  <script src="/assets/js/lib/spin.min.js"></script>
  <script src="/assets/js/lib/ladda.min.js"></script>
  <script src="/assets/js/lib/sweet-alert.min.js"></script>
  <script src="/assets/js/lib/wow.min.js"></script>
  <script src="/assets/js/app.js"></script>
  <script>
    new WOW({boxClass: 'animated', mobile: false}).init();
  </script>
  {% include segmentio-script.html %}
</head>

<body>
  {{ content }}
  {% include footer.html %}
  <!--[if IE 9]>
  <script src="/assets/js/lib/placeholders.min.js"></script>
  <![endif]-->
</body>
</html>
